.main-body {
  align-items: center;
  justify-content: center;
  min-width: 23em;
  display: grid;
  border-color: rgb(181, 181, 181);
  border-width: 0.1em;
  border-style: solid;
  background-color: #353535;
  border-radius: 1.5em;
  padding: 1.5em;
}



.button {
    color: white;
    width: 6em;
    text-align: center;
    background-color: rgb(72, 72, 72);
    padding: 0.25em 0.8em;
    transition: all 0.1s ease-in-out;
    border-color: black;
    border-width: 0.5EM;
    border-style:outset;
    border-radius: 0.75em;
}
.button:hover {
    color: rgb(146, 242, 255);
    transform: scale(1.1);
    transition: transform 0.1s ease-in-out;
}
.button:active {
    color: rgb(70, 206, 255);
    border-style:groove
}
.primary-buttons {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display:flex;
  gap:0.5em;
}
.button-wrapper {
  position: relative;
  display: flex;
  padding-bottom: 3em;
  padding-top: 3em;
}

#plus-button {
  position: absolute;
  width: fit-content;
  position: absolute;
  margin-left: 10em;
  color: yellow;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


.data-boxes {
  width: fit-content;
  background-color: transparent;
  display:flex;
  flex-direction: row;
  gap: 2em;
}

.data-box-text {
  background-color: #5b5b5b;
  padding: 0.6em;
  border-radius: 1em;
  border-color: #5d5d5d;
  border-style: solid;
  border-width: 0.1em;
}

.data-box-input {
  padding: 0.8EM;
  border-width: 0.1em;
  border-color: rgb(25, 25, 25);
  border-style: solid;
  background-color: rgb(165, 165, 165);
  border-radius: 2EM;
}


#data-boxes-input{
  position: relative;
  align-self: center;
  padding-right: 0em;
  width: 16em;
  height: 3em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}



.add-data-popover {
  height: 12.5em;
  width: 25em;
  position: absolute;
  top: 66.67%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  padding: 1em;
  border-radius: 0.75em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  z-index: 999;
  border: 0.05em solid rgba(255, 255, 255, 0.3);
}

.data-popover-center {
  position: relative;
  height: 12.5em;
  width: 25em;
  display: flex;
  flex-direction: column;
}

#submit-button {
  border: none;
  height: 3em;
  width: 4em;
  position: absolute;
  top: 92.5%;
  left: 92.5%;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 140, 0);
  color: white;
  clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
  transition: all 0.1s ease-in-out;
}

#submit-button:hover {
  background-color: rgb(0, 125, 0);
  transition: all 0.1s ease-in-out;

}

#submit-button:active {
    background-color: rgb(0, 100, 0);
    transition: all 0.1s ease-in-out;
}

.visual-data {
  display: flex;
  position: relative;
  align-items: center;
  /* transform-origin: center center; */
  gap: 3em;
}

.altitude-bar {
  position: relative;
  width: 4EM;
  height: 30rem;
}
  

.vertical-bar {
  position: absolute;
  display: flex;
  width: 4em;
  height: 10em;
  background-color: #ffffff;
  border-radius: 0.5EM;
  overflow: hidden;
}

.filled-bar-area {
  background-color: #00ff00;
  width: 100%;
  height: 25%;
  transition: height 1s ease-in-out;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
}

.arrow-indicater {
  position: absolute;
  left: 2.2EM; /* adjust so it lines up horizontally with the bar */
  top: 19.5EM;
  scale: 3;
  width: 3em;
  height: 1EM;
  background-color: rgb(255, 100, 100);
  clip-path: polygon(0 45%, 60% 45%, 60% 30%, 70% 50%, 60% 70%, 60% 55%, 0 55%);
  transition: top 1s ease-in-out;
  z-index: 2;
}

.measurement-indicators {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2; /* above the green bar */
}
.measurement-indicator {
  color: rgb(255, 0, 0);
  font-size: 1.3EM;
  text-align: center;
}

.compass{
  position: relative;
  width: 10EM;
  height: 10EM;
}

.circle {
  display: grid;
  position: absolute;
  width: 10em;
  height: 10em;
  background-color: white;
  clip-path: circle(50% at 50% 50%);
  
}

.circle-center{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.compass-stationary-needle{
  position: relative;
  width: 8em;
  height: 5em;
  bottom: 1.5em;
  transform: rotate(-90deg);
  background-color: rgb(100, 0, 0);
  clip-path: polygon(0 45%, 60% 45%, 60% 30%, 70% 50%, 60% 70%, 60% 55%, 0 55%);
}

.degree-measurements{
  transition: transform 1s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.degree-measurement {
  color: #000000;
  font-size: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center; /* 👈 this centers the rotation */
  text-align: center;
}

#north {
  position: absolute;
  top: -4em;
}
#east {
  position: absolute;
  left: 4em;
}
#south {
  position: absolute;
  top: 4em;
}
#west {
  position: absolute;
  left: -4em;
}

.angle-indicator {
  position: relative;
  width: 10EM;
  height: 10EM;
}

.angle-indicator-sky {
  position: absolute;
  width: 10em;
  height: 10em;
  bottom: 5em;
  background-color: rgb(0, 166, 255);
  z-index: 1;
  transition: all 1s ease-in-out;
}
.angle-indicator-ground {
  position: absolute;
  width: 10em;
  height: 10em;
  top: 0em;
  background-color: #00ff00;
}